
name: tests

on:
  push: ~
  pull_request: ~

env:
  BRANCH: ${{ github.head_ref || github.ref_name }}

jobs:
  composer-validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - run: composer test:composer-validate
  composer-normalize:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:composer-normalize
  composer-require-checker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:composer-require-checker
  composer-unused:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:composer-unused
  linter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, cs2pr
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:linter | cs2pr
  refactoring:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:refactoring
  psalm-static-analysis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:psalm-static-analysis -- --output-format=github
  phpstan-static-analysis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:phpstan-static-analysis
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: pcov
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      #      - run: composer test -- --colors=always --order-by=random --coverage-clover coverage.xml
      - run: composer test:unit-tests
  mutation-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
      - uses: ramsey/composer-install@v3
        with:
          composer-options: --optimize-autoloader
      - run: composer test:mutation-tests
